services:
  nextjs-app:
    build: .
    container_name: nextjs-app
    ports:
      - "3000"
    environment:
      - NODE_ENV=production
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: go-backend
    ports:
      - "8080"
    environment:
      - DATABASE_URL=postgres://postgres:password@db:5432/bankapp_dev?sslmode=disable
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:14
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: bankapp_dev
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/ssl:/etc/nginx/ssl
      - ./nginx/logs:/var/log/nginx
    depends_on:
      - nextjs-app
      - backend
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge
