.logo-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
  transition: all 1.2s ease-in-out;
  z-index: 9999;
  pointer-events: none;
}

.logo-overlay.draw {
  opacity: 1;
  transform: translate(-50%, -50%) scale(2);
}

.logo-overlay.move {
  top: 5px;
  left: 32px;
  transform: scale(0.82);
}

.logo-overlay.static {
  top: -15px;
  left: 12px;
  transform: scale(0.55);
  opacity: 1;
  transition: none;
  pointer-events: auto;
}